<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/font-awesome.min.css">
        <style>

        </style>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css">


        <script src="{{ MEDIA_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top hidden">
            <div class="navbar-inner">
                <div class="container centered">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Tributario</a>
                    <div class="nav-collapse collapse">

                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container centered">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="unit pagination-centered">
                <h1>Tributario</h1>
                <p id="dance-baby">Tu contabilidad, y ya.</p>
                <hr>
                <div class="control-group">
                  <label class="control-label" for="inputIcon"></label>
                  <div class="controls">
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-envelope"></i></span>
                      <input class="span3" id="inputIcon" type="text">
                    </div>
                  </div>
                  <a type="submit" class="btn span3">Enviar</a>

                </div>
                <a href="javascript:harlemshake()"><i class="icon-magic"></i></a>
            </div>

            <footer class="centered">
                <p>Tributario 2013</p>
                <a href="http://startupweekenddf.com">Hecho en Startup Weekend DF</a>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ MEDIA_URL }}js/vendor/underscore-min.js"></script>
        <script src="{{ MEDIA_URL }}js/vendor/backbone-min.js"></script>

        <script src="{{ MEDIA_URL }}js/vendor/bootstrap.min.js"></script>

        <script src="{{ MEDIA_URL }}js/main.js"></script>
        <script src="{{ MEDIA_URL }}js/hs.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
