/* style header */
header{

background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    float: left;
    width: 100%;

}

header ul{

  float: right;
    margin: 0;
    padding-right: 34px;

}

header > ul li{


   float: left;
  
    padding-bottom: 25px;
    padding-left: 21px;
    padding-top: 25px;

}


/* -------------------------------------------------------------------------- */

section#main_app {
    display: inline-block;
    width: 100%;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-family: Helvetica Neue, Helvetica, Arial;
/*  background-image: url(../img/fondo.jpg);
*/  -webkit-font-smoothing: antialiased;
}

body {
 
  padding-bottom: 40px;
}

.navbar .centered,
.centered {
  width: 100%;
}


.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer:before{
  content: "";
  display: block;
  border-bottom: #000;
}
footer {
  text-align: center;
  color: #BBB;
  display: block;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #EEE;
  padding-top: 1em;
}


li{
    list-style: none ;
}
